{% extends "base.html" %}
{% load static %}

{% block title %}
Projects
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}">
{% endblock css %}

{% block content %}
<div class="project__gallery">
{% for project in projects%}
    <div class="project__card">
        <a href="{{ project.repository }}">
            <img src="{{ project.image.url }}" alt="{{ project.name}}">
        </a>
            <h2>{{ project.name}} -- {{ project.year }} </h2>
            <p>{{ project.description }}</p>
                <p class="project__skills">
                    {% for skill in project.skills.all %}
                    <label>{{ skill.name }}</label>
                    {% endfor %}
                </p>
    </div>       
{% endfor %}
</div>

{% endblock content %}