{% extends "base.html" %}

{% block title %}
About Me
{% endblock title %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}

{% block content %}
<h1>About Me</h1>
<div class="about-avatar">
    <img src ="{% static 'img/avatar.png' %}" alt="my-avatar">
</div>

Hello, I am Jon a student at San Diego Global Knowledge University. I am studying full stack web developement, and will be completing my certification soon. My interest include software design, video games and hiking.
{% endblock content %}
