{% extends 'base.html' %}
{% load static %}

{% block title %}
Contact
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock css %}

{% block content %}
<section class="contact__session">
    <h1>Contact</h1>
    
    <form method="POST" class="contact__feedback">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
        <button type="reset">Reset</button></a>
    </form>
    
</section>
{% endblock %}