*{
    border-color: red;
    /* border-style: solid;
 */
}

p{
    margin: 0px;
}
.project__gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}

.project__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    padding: 16px;
    border-radius: 8px;
}

.project__card p, h2{
    text-align: center;
}

.project__card img{
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: contain;
}