{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}
    {% endblock css %}
</head>
<body>
    <header>
        <nav>
            <div class="nav__name">
                Jon Doe
            </div>
            <div class="nav__links">
                <a href="{% url 'about' %}"> About </a>
                <a href="{% url 'contact' %}">Contact</a>
                <a href="{% url 'experience' %}">Experience</a>
                <a href="{% url 'projects' %}">Projects</a>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>2026 Jon Doe. All rights reserved</p> 
    </footer>
</body>
</html>